body {  
    margin: 0 auto;
    background-image: url("../docs/images/website_background.png");
    width: 80em;
    

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: "header header"
                         "menu menu"
                         "signup signup"
                         "details details"
                         "aside items"
                         "footer footer";
}

body > header {
    grid-area: header;
}

#menu {
    grid-area: menu;
}

aside {
    grid-area: aside
}

#items {
    grid-area: items;
}

body > footer {
    grid-area: footer;
}



/* header layout */


body > header {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

body > header h1{
    display: flex;
    justify-content: center;
}

#signup, #user-icons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}



/* menu layout */

#menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
#menu li {
    display: block;
    flex: 1;
}

/* search layout */

form {
    display: flex;
    flex-direction: column;
}


/* items layout */

#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#items > h2 {
    width: 100%;
}

#items > article {
    width: 49%;
    display: flex;
    flex-direction: row;
}

/* signup/add publication layout */

#register, #login, #add-publication {
    grid-area: signup;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* item layout */

#item-details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#item-details header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#item-details header h2 {
    flex: 1;
    text-align: center;
}

#item-details article {
    display: flex;
    align-items: center;
}

/* user profile layout */

#user-profile {
    grid-area: details;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-actions {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

