:root {
    --lightgrey: #dcdcdc;
    --lightergrey: #eaeaea;
    --grey: #606060;
    
    --blue: #007bff;
    --darkblue: #0056b3;
    
    --black: #000000;
    --white: #ffffff;

    --red: #d11b2e;
    --green: #26bf4a;
    
}

/* common link styling */

a {
    text-decoration: none;
    color: var(--black);
    transition: 0.3s ease;
}

a:hover {
    color: var(--blue);
}

/* header styling */

body > header {
    background-color: var(--lightgrey);
    border-radius: 5px 5px 0 0;
}

body > header h1 {
    font-size: 3em;
    font-weight: 100;
    color: var(--black);
    margin: 0;
}

body > header h1 :hover {
    color: var(--grey);
}

body > header strong {
    font-weight: 900;
}

body > header h1 a {
    text-decoration: none;
    color: var(--black);
}

#signup a {
    font-weight: bold;
    padding: 1em;
}

#user-icons {
    margin-top: 1em;
}
  
#user-icons img {
    width: 40px;
    height: 40px;
    margin-right: 2em;
}

/* menu styling */

#menu {
    background-color: var(--lightgrey);
    border-radius: 0 0 5px 5px;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu li {
    list-style-type: none;
    text-align: center;
    padding: 1em 0;
}

#menu li:hover {
    background-color: var(--lightergrey);
}

#menu a {
    padding: 1em;
}

#menu li:nth-child(odd) {
    border-top: 5px solid var(--black);
}

#menu li:nth-child(even) {
    border-top: 5px solid var(--white);
}

#hamburger, .hamburger {
    display: none;
}

/* search styling */

body > aside {
    background-color: var(--lightgrey);
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    margin-right: 1em;
}

label {
    margin-bottom: 0.5em;
}

button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: var(--darkblue);
}

input, select {
    padding: 0.5em;
    border: 1px solid var(--grey);
    border-radius: 5px;
}



/* items styling */

#items > article {
    background-color: var(--lightgrey);
    margin-bottom: 1em;
    border-radius: 10px;
    transition: 0.3s ease;
}

#items > article:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

#items > article img {
    margin-right: 1em;
    padding: 1em;
    border-radius: 20px;
}

#items .item-details {
    padding: 0 1em;
}

/* signup styling */

#register, #login {
    padding: 1em;
}

#register form, #login form{
    padding: 2em;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register input, #login input{
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: none;
    border-bottom: 1px solid var(--black);
    border-radius: 0;
    transition: border-color 0.3s;
}

#register input:focus, #login input:focus{
    outline: none;
    border-bottom: 1px solid var(--blue);
}

#register label:last-of-type, #login label:last-of-type{
    margin-bottom: 2em;
}

/* item styling */

#item-details {
    margin-top: 2em;
    padding: 1em;
}

#item-details h2 {
    font-size: 2em;
    margin-bottom: 2em;
}

#item-details article img {
    width: 500px;
    height: 500px;
    margin-right: 1em;
    border-radius: 10px;
}

#item-details header button {
    background-color: transparent;
    color: var(--grey);
    font-size: 1em;
}

.item-info {
    padding: 1em;
}

.item-info h3 {
    font-size: 1.5em;
}

.item-info h4 {
    font-size: 1.2em;
    font-weight: 500;
}

.item-info p {
    margin-bottom: 0.5em;
}

span.active {
    color: var(--green);
}

span.inactive {
    color: var(--red);
}


/* user profile styling */

#user-profile {
    padding: 2em;
}

.profile-info {
    margin-bottom: 2em;
}

.profile-info img {
    border-radius: 50%;
    border: 2px solid var(--black);
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 2em;
}

.profile-content {
    width: 100%;
    background-color: var(--white);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-actions {
    margin-bottom: 1em;
}

.profile-actions a {
    padding: 1em;
    margin-right: 1em;
    border: 1px solid var(--lightgrey);
    border-radius: 3px;
    background-color: var(--lightergrey)
}






/* font styling */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans|Poppins&display=swap');


body {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
}
